@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

body{
    font-family: "Roboto", serif;
}
.nav-design{
    display: flex;
    justify-content: space-around;
    margin: 24px auto;
}
.nav-btn{
    font-size: 10px;
    color: #006A50;
    padding: 7px 15px;
    border:1px solid #006A50;
    border-radius: 3px;
}
/* banner design */
.banner-container{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 10px;
    justify-content: space-around;
    height: 460px;
    width: 80%;
    margin: 0 auto;
}
.bnr-img{ width: 350px;
    margin-top: 70px;
 }
 .bnr-1st-card{
    padding-top: 100px;
    }
    .bnr-btn{
        background-color: #006A50;
        color: aliceblue;
        font-size: 12px;
        font-weight: 600px;
        border-radius: 5px;
        padding: 10px 15px;
        
    }
    .bnr-para{
        color: #6f6a6a;
}
/* pillers of bangladesh design */
.card-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;

}
.all-cards{
    display: flex;   
}
.child{
    margin: 15px;
    border-radius: 5px;
    background-color: aliceblue;
}
.card-paragraph{
    color: #6f6a6a;

}
/* The Vision of Future design */
.vision-cards{
    display: flex;
    justify-content: space-around;
}
.card1{
    background-color:#abc8f1;
    margin: 15px;
    width: 550px;
    border-radius: 5px;
    }
.card2{
    background-color: rgb(194, 243, 226);
    margin: 15px;
    width: 550px;
    border-radius: 5px;
}
.card3{
    background-color: #F7EBCF;
    margin: 15px;
    width: 550px;
    border-radius: 5px;
}
.btn1{
margin: 20px 0;
background-color: rgb(110, 110, 226);
color: white;
margin-left: 25px;
border-radius: 5px;
}
.btn2{
    margin: 20px 0;
    background-color: rgb(127, 226, 110);
    color: white;
    margin-left: 25px;
    border-radius: 5px;
}
.btn3{
    margin: 20px 0;
    background-color: rgb(245, 191, 93);
    color: white;
    margin-left: 25px;
    border-radius: 5px;
}
/* dr yunus quote */
.dr-yunus{
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-color: rgb(206, 199, 199);
    padding: 15px;
}

/* opinion style */
table,td,th{
    border: 2px solid rgb(174, 162, 162);
    border-collapse: collapse;
    padding: 20px;
}
th,select{
    background-color: rgb(199, 229, 199);
}
tbl-bg{
    background-color: rgb(233, 233, 88);
    padding: 30px;
}
.td-padding{
    padding-right: 340px;
}
/* news */
.news-card{
    background-color: lightgray;
    border-radius: 10px;
    margin: 15px;
    padding: 30px;
    gap: 20px;
}
.bnr-btn2{
    background-color: #006A50;
        color: aliceblue;
        font-size: 12px;
        font-weight: 600px;
        border-radius: 5px;
        padding: 07px 15px;
}
.dnt-title{
    text-align: center;
}
.tk{
    padding: 25px;
    font-size: x-large;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    margin: auto 7px;
}
.tk-bg{
    background-color: rgb(199, 229, 199)
}
.othr-amnt{
    width: 650px;
    margin-bottom: 20px;
    border: 1px solid #f5eded;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px #6f6a6a;
}
input::placeholder{
    text-align: center;
}
li,ul{
    text-decoration: none;
    list-style-type:none;
}
.subscribe{
    border-radius: 15px;
    padding: 30px;
}
.news-btn{
    width: 650px;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #f5eded;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px #6f6a6a;
    }
    .bd-2{
        text-align: center;
        margin: 40px auto;
    }
    hr{
        width: 70%;
        color: #6f6a6a;
    }
    .scl-mdea{
        text-align: center;
        margin: 30px auto;
    }
    .img-gap{
        margin: auto 10px;
    }
    button:hover{
        background-color: #6f6a6a;
    }
    